{% extends "padre.html" %}

{% load static %}

{% block contenidoVariable%}
<div class="wrap contact" id="contact">
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content contact-form">
                <h1>{{object.titulo}} </h1>
                <h3>{{object.subtitulo}} </h3>
                <p>{{object.cuerpo}} </p>
                <img  style='height: auto; width: 500px; object-fit: contain' src="{{ MEDIA_URL }}{{ object.imagen.url }}" alt="img">
                <br>
                <a class="btn read-more" href="{% url 'Lista' %}"> Regresar </a>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
