{% extends "padre.html" %}

{% load static %}

{% block contenidoVariable%}

<div class="wrap services-wrap" id="services">
    <section class="grid grid-pad services">
        <h2 color = black>Herramientas</h2>
        <div class="col-1-3 service-box service-1" >
            <div class="content">
                <div class="service-icon">
                    <i class="circle-icon icon-note"></i>
                </div>
                <div class="service-entry">
                    <h4 color = black>Blog</h3>
                    <a class="btn read-more" href="{% url 'Lista'%}">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-1-3 service-box service-2" >
            <div class="content">
                <div class="service-icon">
                    <i class="circle-icon icon-mail"></i>
                </div>
                <div class="service-entry">
                    <h4 color = black>Mensajería</h3>
                    <a class="btn read-more" href="{% url 'inicio'%}">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-1-3 service-box service-3">
            <div class="content">
                <div class="service-icon">
                    <i class="circle-icon icon-list"></i>
                </div>
                <div class="service-entry">
                    <h4 color = black>Acerca de</h3>
                    <a class="btn read-more" href="{% url 'about'%}">Ver más</a>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
