{% extends "padre.html" %}

{% load static %}

{% block contenidoVariable%}
    
     <!-- Blog Section -->
     <div class="wrap blog-grid grey" id="blog">
        <div class="grid grid-pad">
            <div class="content" >
                <h2>Blog</h2>
                
                {% for post in object_list %}
                <h4>HOLAAAAAAA</h4>
                <div class="col-1-2" >
                    <article class="post-wrap">
                        <div class="post-img">
                            <a href="#0"><img src="images/post/post-n1.jpg" alt=""></a>
                        </div>
                        <div class="post">
                            <h2 class="entry-title"><a href="#0">Drawing hour</a></h2>
                            <div class="post-meta">
                                <a href="#0">15 Januar, 2015</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                            </p>
                            <a class="btn read-more" href="#0">Read More</a>
                        </div>
                    </article>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- End Blog Section -->
{% endblock %}
