{% extends "padre.html" %}

{% load static %}

{% block contenidoVariable%}

<div class="wrap contact" id="contact">
    <div class="grid grid-pad">
        <div class="col-1-2">   
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="small mb-1">Usuario:</label>
                                {{ user_form.username }}
                            <label class="small mb-1">Email:</label>
                                {{ user_form.email }}
                        </div> 
                    <div class="form-group">
                        <label class="small mb-1">Cambiar foto de perfil:</label>
                        {{ profile_form.avatar }}
                    </div>
                    <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                    <button type="submit" class="btn btn-dark btn-lg">Guardar cambios</button>
                </div>
            </div>
            </form>
        </div>
        <div class="col-1-4" >
            <div class="content staff-content">
                <div class="recent-work staff-img">
                    <div class="img-wrap staff-img">
                        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
